<label> Serwer Name</label>
<!--
  <input
       type="text"
       class="form-control"
       (input)="onUpdateSerwerName($event)"
/>
  -->
<input type="text"
       class="form-control"
       [(ngModel)]="serwerName" />
<!--<p>{{serwerName}}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewSerwer"
        (click)="onCreateSerwer()">
  Przycisk
</button>
<!--<p>{{serwerCreationStatus}}</p> -->
<p *ngIf="serwerCreated; else noSerwer">Serwer was created, serwer name is {{serwerName}} </p>



<app-serwer></app-serwer>
<app-serwer></app-serwer>
<input type="text"
       class="form-control"
       [(ngModel)]="userName" />
<!-- <p>{{userName}}</p>-->
<button class="btn btn-primary" [disabled]="userName=== '' " (click)="onCreateUserName()">
  Imie

</button>
<p>{{userNameCreationStatus}}</p>
